<div *ngIf="loading">Cargando...</div>
<div *ngIf="error">
  <p>Error al cargar los datos: {{ error.message }}</p>
</div>
<div *ngIf="!loading && !error">
  <div *ngIf="provisionProcedures?.length">
    <h2>Procedimientos de Provisión de Organización</h2>
    <ul>
      <li *ngFor="let procedure of provisionProcedures">
        ID del Procedimiento: {{ procedure.id }}
      </li>
    </ul>
  </div>
  <div *ngIf="departments?.length">
    <h2>Departamentos de Organización</h2>
    <ul *ngFor="let department of departments">
      <li>
        Categoría: {{ department.category.name }} 
      </li>
      <li >
        Categoría:  (ID: {{ department.category.id }})
      </li>
    </ul>
  </div>
</div>